@model IEnumerable<GameApplication.Models.Games.Lobby>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Nowa gra", "create", new {gameName = @ViewData["gameName"] }, null);

@if (Model.Count() == 0)
{
    <p>Nikt aktualnie nie czeka na przeciwnika - stwórz nową poczekalnie i zaproś znajomych</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Ilość oczekujących graczy</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var lobby in Model)
        {
            <tr>
                <td>@lobby.Id</td>
                <td>@lobby.GetNumberOfConnectedPlayers()</td>
                <td>@Html.ActionLink("Dołącz", "Join", new {gameName = @ViewData["gameName"], lobbyId=@lobby.Id }, null);</td>
            </tr>
        }
        </tbody>
    </table>
}


