@*TODO: refresh using ajax or websocket*@
@model GameApplication.Models.Games.Lobby

@{
    ViewData["Title"] = "Lobby";
}

<style>
    .alert {
        padding: 20px;
        background-color: #ff9800;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover { color: black; }
</style>

<script>
    $(document).ready(function() {
        JoinLobby(@Model.Id, "@Model.Game.Name", @Model.Game.MinNumberOfPlayers);
    });
</script>


<h2>Looby id: @Model.Id</h2>

<div id="fullLobby" class="alert" style="display: none">
    Lobby jest pełne - nie możesz dołączyć
</div>

<hr/>
<b>Gra:</b> @Model.Game.Name <br/>
<b>Minimalna ilość graczy:</b> @Model.Game.MinNumberOfPlayers <br/>
<b>Maksymalna liczba graczy:</b> @Model.Game.MaxNumberOfPlayers <br/>
<b>Gospodarz:</b> @Model.Owner.GetName() <br/>
<b>Liczba połączonych graczy:</b> <span id="numberOfPlayers">@Model.GetNumberOfConnectedPlayers() </span> <br/>
<ul id="connectedPlayers"></ul>


@if ((string) ViewData["loggedUser"] == Model.Owner.GetName())
{
    <button id="startGame" style="display: none">Roczpocznij gre</button>
}