@*TODO: refresh using ajax or websocket*@
@model GameApplication.Models.Games.Lobby

@{
    ViewData["Title"] = "Lobby";
}

<h2>Looby id: @Model.Id</h2>
<hr/>
<b>Gra:</b> @Model.Game.Name <br/>
<b>Minimalna ilość graczy:</b> @Model.Game.MinNumberOfPlayers <br/>
<b>Maksymalna liczba graczy:</b> @Model.Game.MaxNumberOfPlayers <br/>
<b>Gospodarz:</b> @Model.Owner.UserName <br/>
<b>Liczba połączonych graczy:</b> @Model.GetNumberOfConnectedPlayers() <br/>
<ul>
    @foreach (var connectedPlayer in Model.ConnectedPlayers)
    {
        <li>@connectedPlayer.UserName</li>
    }
</ul>

@*(string) ViewData["loggedUser"] != "mockedUser-lobbyOwner" //TODO - only owner should see start button *@
@if (Model.ConnectedPlayers.Count() >= Model.Game.MinNumberOfPlayers)
{
    @Html.ActionLink("Rozpoczniej gre (Gospodarz)", "StartGame", Model.Game.GameSessionControllerName, new {lobbyId = Model.Id})
    <br //>
    @Html.ActionLink("Dołącz do gry (Inni) - tymczasowy przycisk", "JoinGame", Model.Game.GameSessionControllerName, new {lobbyId = Model.Id})
}


<br/><br/>
<h3 style="color: red">TODO - Przycisk roczpoczynania tylko dla gospodarza</h3>
<h3 style="color: red">TODO - Odswiezanie (Ajax/Websocket). Wymaga dodania metody kontrolera ktora bedzie zwracala obiekt z infomacją o podłączonych użytkownikach oraz flage czy gra sie rozpoczela. Jesli sie rozpoczela to przekierowanie uzytkownika na adres JoinGame?lobbyId=X</h3>
<h3 style="color: red">TODO - Wyjście z lobby == zwolnienie miejsca dla innych </h3>